.recipe{
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  min-width: 40%;
  align-items: center;
}
.image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
